#div1 {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: rgb(208, 203, 203);
    /* text-align: right center; */
    text-align: end;
}

#div2 {
    display: flex;
    width: 25%;
    height: 90vh;
    background-color: rgb(158, 199, 196);
}

#div3 {
    display: flex;
    width: 75%;
    height: 90vh;
    background-color: rgb(231, 247, 247);
    position: relative;
    bottom: 710px;
    left: 25%;
}